body{
    font-family:'Arvo', serif;
    background-color: #3A99A6;
}
button, input{
	font-family:'Arvo', serif;
	font-weight: bold;
	font-size: 24px;
	border-radius: 50%;
	border: 0;
	width:90px;
	height: 90px;
	margin: 2px;
	background-color:#FE6475 ;
	position: relative;
  color: #FFFFFF;
}
#game{
	width: 200px;
	height: 200px;
  display: none;
  position: relative;
  left: 50%;
  margin-left:-100px;
}
.selected{
	background-color: #F33E2B;
}
.correct{
	visibility: hidden;
}

#time, #score, #label{
  display: none;
  color: white;
  font-size: 24px;
}
#main{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  left:50%;
  margin-left: -250px;
  text-align: center;
}
#intro{
  position: absolute;
  color: white;
}

h1{
  font-family: 'Arvo', serif;
  color: white;
  font-size: 80px;
}

#go{
  position: relative;
  display:none;
  background-image: url(replay.png);
  background-repeat: no-repeat;
  background-position: center;
}